.header {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2px 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-bottom: 1px solid hsl(var(--zinc-300));
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(var(--cyan-800));
}

.nav ul {
  list-style: none;
  padding: 0;
  gap: 1rem;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: hsla(var(--cyan-800), 0.7);
  font-weight: 500;
  transition: all 0.1s;
}

.nav a:hover,
.nav a:focus {
  color: hsl(var(--cyan-800));
}

.account {
  text-align: end;
}
